@import "tailwindcss";

@theme {
  --color-brand-primary: #3b82f6;
}

:root {
  --background: #f7f7fb;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: sans-serif;
}
